body {
    color: white; /* text color */
}

/* body */
.content-wrapper, .right-side {
    background-color: #353c42;
}

/* DT table*/
.box-body {
    background-color: #d1ede1;
}

/* Switch Legendaries */
.material-switch {
    color: black;
}
